<h1 class="font-doggie text-3xl font-bold underline bg-slate-500">
  Montserrat Bold
</h1>
<h2 class="font-doggie text-10xl bg-slate-500">Montserrat Bold</h2>

<h1 class="font-doggie text-xl font-bold">Przy świetle księżyca</h1>
<div class="font-doggie text-lg font-normal">
  <p>Przy świetle księżyca</p>
  <p>
    Nad brzegiem Niemna, wśród łąk i pól,
    <br />
    Cicho płynęła książęca łódź,
    <br />
    Wśród srebrnych fal.
  </p>
  <p>
    W łodzi siedział Tadeusz i Zosia,
    <br />
    Rozmawiali o miłości,
    <br />
    O szczęśliwym życiu w Soplicowie.
  </p>
</div>
